@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 230px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: #3882F6;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.intro .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px;
    margin-bottom: 100px;
    padding: 0px 80px;
}

.intro .left {
    max-width: 400px;
}

.intro .right {
    width: 400px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.intro .left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.intro .left p {
    font-size: 16px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.intro .left button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 25px;
    border: none;
    border-radius: 7px;
}

.info {
    background-color: #F9FAF8;
    padding-bottom: 100px;
}

.info h1 {
    text-align: center;
    margin-bottom: 48px;
    padding-top: 24px;
}

.info .container {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.info .img-box {
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.info img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info p {
    font-size: 16px;
    color: #1F2937
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px;
}

.quote .text {
    max-width: 800px;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    font-size: 20px;
    align-self: center;
    margin-left: 560px;
    font-weight: 800;
}

.sign-up {
    background-color: #F9FAF8;
    padding: 80px 0px;
}

.sign-up .container {
    background-color: #3882F6;
    padding: 40px 0px;
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
}

.sign-up .container .left h1 {
    color: #F9FAF8;
}

.sign-up .container .left p {
    color: #F9FAF8;
}

.sign-up .container .right button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 25px;
    border: solid #F9FAF8;
    border-radius: 7px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: #E5E7EB;
}

button a {
    color: #F9FAF8;
    text-decoration: none;
}

button a:hover {
    color: #1F2937;
}